page-otorisasihistory {

    .toolbar-background {
        background-color: transparent;
    }

    .bg{
        background-color:black;
        background-size: cover;
    }

    tr,th,td,h3,ion-title{
        color: white;
    }

    .putih{
        color: white;
    }

    .back-button-md{
        color: white;
    }

}
